body{ 
    margin: 0; 
    padding: 0; 
    background: linear-gradient(-45deg,#2100ff,#7777dc,#8a3b31,#eb0000); 
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: Arial, Helvetica, sans-serif; 
} 

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}
 
.login-caixa{ 
    background: white; 
    padding: 50px; 
    border-radius: 10px; 
    box-shadow: 0 15px 25px rgba(0,0,0,0,5); 
    width: 400px; 
    height: 400px;
} 
 
.login-caixa h2{ 
    text-align: center; 
    color:  #808080 ; 
    margin-bottom: 20px;
    
    
} 
 
.user-caixa { 
    position: relative; 
} 
 
.user-caixa input{ 
    width: 350px; 
    padding: 10px 0; 
    font-size: 15px; 
    color: #808080; 
    margin-bottom: 30px; 
    border: none; 
    border-bottom: 2px solid #808080; 
    outline: none; 
    background: transparent; 
    margin-top: 50px;
} 
 
.user-caixa label{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    padding: 10px 0; 
    font-size: 16px; 
    color: blue; 
    pointer-events: none; 
    transition: .5s; 
    margin-top: 40px;
} 
 
.user-caixa input:focus~label, 
.user-caixa input:valid~label{ 
    top: -20px; 
    left: 0; 
    color: blue; 
    font-size: 12px; 
} 
 
.login-caixa button { 
    background: #808080; 
    border: none; 
    color: white; 
    padding: 14px 40px; 
    width: 100%; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    box-shadow: 0 8px 16px rgba(0,0,0, 0.2), 0 6px 20px rgba(0,0,0,0.19);
    
    
    
} 
 
.login-caixa button:hover{ 
    background: #808080; 
}